body{
    background-color: rgb(97, 9, 9);
    margin: 25px 50px;
}

.firstline{
    margin-left: 175px;
    color: white;
    font-size: 20px;
}

.all{
    float: left;
}

.date{
    color: white;
    font-size: 75px;
    float: left;
}
.birth{
    color: white;
    font-size: 50px;
    float: left;
}
.day{
    color: white;
    font-size: 20px;
}


.timer
{
    margin: 150px 300px;
    height: 250px;
    width: 800px;
    top: 50%;
    text-align: center;
}
.title{
    font-size: 65px;
    color: white;
}

.boxes{
    margin-top: 20px;
    float: left;
}

.box-1{
    opacity:0.7;
    margin-left: 20px;
    padding-top: 20px;
    width: 150px;
    height: 100px;
    background-color: black;
    color: white;
    float: left;
    
}
.box-2{
    opacity:0.7;
    margin-left: 20px;
    padding-top: 20px;
    width: 150px;
    height: 100px;
    background-color: black;
    color: white;
    float: left;
}
.box-3{
    opacity:0.7;
    margin-left: 20px;
    padding-top: 20px;
    width: 150px;
    height: 100px;
    background-color: black;
    color: white;
    float: left;
}
.box-4{
    opacity:0.7;
    margin-left: 20px;
    padding-top: 20px;
    width: 150px;
    height: 100px;
    background-color: black;
    color: white;
    float: left;
}

#b1,#b2,#b3,#b4{
    font-size: 50px;
}